*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.heading{
    padding :50px;
    text-align: center;
}

.wrapper{
    width:50%;
    margin:auto;
    background: #ffffff;;
}
.card-1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap : 30px 70px;
    background-color: #2196F3;
    padding: 10px;
    max-width: 80%;
    width: 1500px;
     justify-content: center;
    align-items: center;
    text-align :center; 
    margin: 2rem;
    border: 5px solid black;
    border-radius: 5px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.card:hover{
    box-shadow: black;
}

.red{
background-color: red;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.yellow{
    background-color:yellow;
}
.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.color-hidden{
    background-color: #eeee;
    /* display: hidden; */
}
.card.done{
    cursor:default;
}

.card.done:hover{
    cursor: default;
}