*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.heading{
    padding :50px;
    text-align: center;
}

.wrapper{
    width:50%;
    margin:auto;
    background: #ffffff;;
}
.card-1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap : 30px 70px;
    background-color: #2196F3;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align :center; 
    margin: 2rem;
    border: 5px solid black;
    border-radius: 5px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    font-size: 0px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.card:hover{
    border: 2px solid rgba(0, 0, 0, 0.8);
    transition: ease-in-out;
}   

.card .clicked {
    transform: rotateY(0);
    animation-duration: .70s;
    /* background: #1981f8; */
    background-color: brown;
	cursor: default;
	animation-name: flipInY;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
}

.card.view {
	font-size: 33px;
}

/* .card.disabled {
	pointer-events: none;
	opacity: 0.9;
} */
/* .color-hidden{
    background-color: #eeee;
    /* display: hidden; */
/* } */ 
/* .card.done{
    cursor:default;
} */

/* .card.done:hover{
    cursor: default;
} */

@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}