*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.heading{
    padding :50px;
    text-align: center;
}
.card-1{
    text-align :center
}

.card {
    display:inline-block;
    width:100px;
    height:100px;
    background-color: pink;
    cursor: pointer;
}

.card:hover{
    box-shadow: black;
}

.red{
background-color: red;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.yellow{
    background-color:yellow;
}
.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.color-hidden{
    background-color: #eeee;
    /* display: hidden; */
}
.card.done{
    cursor:default;
}

.card.done:hover{
    cursor: default;
}